<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fit5046.wildsecured">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge">
        <activity android:name=".Activity.PlacesDetailActivity"></activity>
        <activity android:name=".Activity.SnakeRecognizerActivity" />
        <activity android:name=".Activity.ClassifierActivity" />
        <activity android:name=".Activity.CameraActivity" />
        <activity android:name=".Activity.WildlifeDetailActivity" />
        <activity android:name=".Activity.SavedPlacesActivity" />
        <activity android:name=".Activity.CategoryViewActivity" />
        <activity
            android:name=".Activity.CheckListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GearInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.InsectInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SunInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AnimalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".StartUp"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_API_KEY" />
    </application>

</manifest>